
 @tailwind base;
@tailwind components;
@tailwind utilities;

.shoeBlue {
  @apply   bg-transparent translate-y-80 p-8 flex flex-col gap-5 shadow-2xl shadow-pink-900  rounded-lg border-2  text-white max-w-lg scale-90 text-center backdrop-filter backdrop-blur  relative  lg:bottom-80 lg:left-96 ;
}

.nav{
  @apply   fixed  left-0 right-0 z-10 text-white   p-4  flex justify-between items-center bg-transparent shadow-md shadow-black w-screen  lg:h-20 backdrop-filter backdrop-blur ;

  
 
 
}




.SellerForm{
  @apply   mb-28 p-7 bg-transparent  mt-10 rounded-lg border-2 flex flex-col gap-5 w-full max-w-6xl mx-auto border-x-gray-900 shadow-gray-700 shadow-inner  ;
}


.Buyer_Quantity_btn{
  @apply border h-20 p-2 w-24  text-black bg-blue-200 hover:bg-red-800 hover:text-white rounded-lg shadow-lg
}

.Seller_Quantity_btn{
  @apply relative left-6 w-96 max-w-16 h-16 rounded-lg my-4 text-black bg-blue-200 hover:bg-red-800 hover:text-white shadow-lg
}


@keyframes spin {
  0% { transform: rotate(55deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spin 3s linear infinite;
}

/* .rounded-full {
  border-radius: 90%;
} */






